<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Freelancer - Start Bootstrap Template</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/sport_request.css">
</head>


<body>

    <%- include("partials/nav") %>


        <header>
            <h1 style="margin-bottom: 40px;">DIET REQUEST</h1>

            <div class="box-container">

                <% diet_request.forEach(element=> { %>

                    <div class="box">

                        <div class="name">
                            <p>
                                Name : <%= element.firstname %>

                            </p>

                        </div>

                        <div class="lastname">
                            <p>
                                Lastname : <%= element.lastname %>
                            </p>

                        </div>

                        <div class="weight">
                            <p>
                                Weight : <%= element.weight %>
                            </p>

                        </div>

                        <div class="height">
                            <p>
                                Height : <%= element.height %>
                            </p>

                        </div>

                        <div class="gender">
                            <p>
                                Gender : <%= element.gender %>
                            </p>

                        </div>

                        

                        <div class="phone_number">
                            <p>
                                Phone Number : <%= element.phone_number %>
                            </p>

                        </div>



                        <div class="email">
                            <p>
                                Email : <%= element.email %>
                            </p>

                        </div>
                        


                    </div>


                    
                    <form action="/dr/<%= element.id %> "  method="post">
                        <div class="form">
                            <textarea class="form-control" id="textarea" rows="4" name="textarea"></textarea>
                            <input type="submit" value="Submit" >
                       
                        </div>
                    </form>
                    
                    

                <% }) %>





            </div>

        </header>




        <%- include("partials/footer") %>

</body>

</html>